*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    background-color: rgb(6, 77, 6);
    width: 100%;
    height: 100vh;
}
.startbtn{
    position: absolute;
    color: wheat;
    z-index: 1;
}
.gameroad{
    position: absolute;
    width: 500px;
    background-color: rgb(70, 64, 64);
    height: 100vh;
    left: 35%;
    display: none;
}
.hide{
    display: none;
}
.show{
    display: block; 
}